/* 
    <==color palettes ==> 

        #7BD5F5
        #787FF6
        #4ADEDE
        #1CA7EC
        #1F2F98
*/
*{
    font-family: 'Raleway', sans-serif;
}
$text-color:#434343;
@mixin heading{
    font-size: 38px;
    text-align: center;
    color: $text-color;
}
@mixin margin_padding {
    margin: 0;
    padding: 0;
}

@mixin container() {
    margin-left: 35px;
    margin-right: 35px;
}
body{
    background-image: linear-gradient(to right,#7BD5F5,#787FF6)
}


ul {
    @include margin_padding();
    position: absolute;
    left: 30%;
    list-style-type: none;
    background-color: transparent;
}

li {
    display: inline-block;
    padding: 17px 14px;
    transition: 0.4s;
}

li a {
    text-decoration: none;
    color: #fff;
    padding: 14px;
}

li:hover {
    background-color: #7BD5F5;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.bg_img img {
    width: 100%;
}

/* About Section */

.about {
    @include container();
}

.about h1,.gallery h1 {
    @include heading();
    
}
p{
    color: $text-color;
}
.about .imgs{
    display: flex;
    max-width: 580px;
    
}
.imgs img{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
}
/*End of About Section*/

.parent_gallery {
    @include container();
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.parent_gallery img{
    width: 100%;
    transform: scale(0.94);
    transition: 0.5s;
    border-radius: 6px;
}
.parent_gallery img:hover{
    transform: scale(1);
}

.child_1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.child_4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}



/* contact section */

.contact iframe{
    @include container();
    width: 90%;
    height: 400px;
    border-radius: 4px;
}
.contact h1{
    @include heading();
}

.feedback{
    display: grid;
    place-items: center;
    height: 300px;
    color: $text-color
}
.feedback h2{
    @include center_heading();
}
.feedback form input[type="text"],input[type="email"], textarea{
        display: flex;
        flex-direction: column;
        border: none;
        border-radius: 4px;
        margin-bottom: 5px;
        padding: 10px;
        min-width: 550px;
        font-size: 16px;
}
.feedback form input[type="text"]:focus,input[type="email"]:focus, textarea:focus{
    outline: none;;
    color: black;
}
.feedback form input[type="submit"]{
    width: 570px;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    border: none;
    transition: 0.4s;
    color: $text-color;
}
.feedback form input[type="submit"]:hover{
    background-color: #787FF6;
}

footer{
    background-color: #7BD5F5;
}